@media (prefers-color-scheme: dark) {
  body {
    color: #e1e1e1;
    background: #000000;
  }
  a:link {
    color: #91a1ff;
  }
  a:visited {
    color: #627aff;
  }
}
li {
  margin-bottom: 35px;
}
p {
  margin-top: 0px;
  margin-bottom: 5px;
}
h1 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
